.ant-picker-cell-inner.ant-picker-calendar-date {
  margin: 0 !important; 
  padding: 0 !important;
}

.ant-picker-calendar-date-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-picker-calendar-date-content .ant-flex {
  width: 100%;
  height: 100%;
}

.ant-picker-content tr {
  text-align: center;
}

:where(.css-dev-only-do-not-override-1m2bkf9).ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body th {
  padding-inline-end: 0
}

:where(.css-dev-only-do-not-override-1m2bkf9).ant-picker-calendar .ant-picker-cell {
  cursor: auto;
}

.ant-picker-cell-inner.ant-picker-calendar-date {
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;  
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

:hover::-webkit-scrollbar,
:active::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}